<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/fluffytailclinic</property>
        <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">your_password</property>

        <!-- Настройки диалекта -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Автоматическое создание/обновление таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Отображение SQL-запросов в логах -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Регистрация классов-сущностей -->
        <mapping class="ru.ssau.towp.fluffytailclinic.models.User"/>
        <mapping class="ru.ssau.towp.fluffytailclinic.models.Animal"/>
        <mapping class="ru.ssau.towp.fluffytailclinic.models.Role"/>
        <mapping class="ru.ssau.towp.fluffytailclinic.models.Appointment"/>
        <mapping class="ru.ssau.towp.fluffytailclinic.models.Diagnosis"/>
        <mapping class="ru.ssau.towp.fluffytailclinic.models.DiagnosisAppointment"/>
    </session-factory>
</hibernate-configuration>